/*https://colorhunt.co/palette/226410*/

body{

    background-color: #f6ecf0;
}

h1{

    color: #ffd369;
    font-size: 42px;
}
h2{

    font-size: 36px;
}

p, ul, ol{

    color: #949cdf;
    font-size: 18px;

}


